<?xml version="1.0"?>
<config>
    <modules>
        <Practice_Permissionpractice>
            <version>1.0.0</version>
        </Practice_Permissionpractice>
    </modules>
    <frontend>
        <routers>
            <practice_permissionpractice>
                <use>standard</use>
                <args>
                    <module>Practice_Permissionpractice</module>
                    <frontName>customconfig</frontName>
                </args>
            </practice_permissionpractice>
        </routers>
    </frontend>
    <global>
        <models>
            <practice_permissionpractice>
                <class>Practice_Permissionpractice_Model</class>
                <resourceModel>practice_permissionpractice_resource</resourceModel>
            </practice_permissionpractice>
            <practice_permissionpractice_resource>
                <class>Practice_Permissionpractice_Model_Resource</class>
                <entities>
                    <permissionpractice>
                        <table>practice_permissionpractice</table>
                    </permissionpractice>
                </entities>
            </practice_permissionpractice_resource>
        </models>
        <resources>
            <permissionpractice_setup>
                <setup>
                    <module>Practice_Permissionpractice</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </permissionpractice_setup>
        </resources>
        <blocks>
            <practice_permissionpractice>
                <class>Practice_Permissionpractice_Block</class>
            </practice_permissionpractice>
        </blocks>
        <helpers>
            <practice_permissionpractice>
                <class>Practice_Permissionpractice_Helper</class>
            </practice_permissionpractice>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <practice_permissionpractice before="Mage_Adminhtml">Practice_Permissionpractice_Adminhtml</practice_permissionpractice>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <practice_permissionpractice>
                    <file>permissionpractice.xml</file>
                </practice_permissionpractice>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <practice_permissionpractice>
            <general>
                <custom_message_1>Default Message 1</custom_message_1>
                <custom_message_2>Default Message 2</custom_message_2>
                <custom_message_3>Default Message 3</custom_message_3>
            </general>
        </practice_permissionpractice>
    </default>
</config>
