<?xml version='1.0'?>
<config>
    <modules>
        <practice_permissionpractice>
            <version>1.0.0</version>
        </practice_permissionpractice>
    </modules>
    <global>
        <models>
            <practice_permissionpractice>
                <class>practice_permissionpractice_Model</class>
                <resourceModel>practice_permissionpractice_resource</resourceModel>
            </practice_permissionpractice>
            <practice_permissionpractice_resource>
                <class>practice_permissionpractice_Model_Resource</class>
                <entities>
                    <permissionpractice>
                        <table>practice_permissionpractice</table>
                    </permissionpractice>
                </entities>
            </practice_permissionpractice_resource>
        </models>
        <resources>
            <permissionpractice_setup>
                <setup>
                    <module>practice_permissionpractice</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </permissionpractice_setup>
        </resources>
        <blocks>
            <practice_permissionpractice>
                <class>practice_permissionpractice_Block</class>
            </practice_permissionpractice>
        </blocks>
        <helpers>
            <practice_permissionpractice>
                <class>practice_permissionpractice_Helper</class>
            </practice_permissionpractice>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <practice_permissionpractice before="Mage_Adminhtml">practice_permissionpractice_Adminhtml</practice_permissionpractice>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <practice_permissionpractice>
                    <file>permissionpractice.xml</file>
                </practice_permissionpractice>
            </updates>
        </layout>
    </adminhtml>
</config>
