<?xml version="1.0"?>
<config>
    <modules>
        <Practice_Examtwo>
            <version>0.1.0</version>
        </Practice_Examtwo>
    </modules>
    <global>
        <models>
            <practice_examtwo>
                <class>Practice_Examtwo_Model</class>
            </practice_examtwo>
         </models>
        <helpers>
            <practice_examtwo>
                <class>Practice_Examtwo_Helper</class>
            </practice_examtwo>
        </helpers>
        <blocks>
            <practice_examtwo>
                <class>Practice_Examtwo_Block</class>
            </practice_examtwo>
        </blocks>
        <events>
            <admin_system_config_changed_section_practice_examtwo>
                <observers>
                    <practice_examtwo_observer>
                        <type>singleton</type>
                        <class>Practice_Examtwo_Model_Observer</class>
                        <method>configChanged</method>
                    </practice_examtwo_observer>
                </observers>
            </admin_system_config_changed_section_practice_examtwo>
            <admin_system_config_changed_section_advanced>
                <observers>
                    <practice_examtwo_core_observer>
                        <type>singleton</type>
                        <class>Practice_Examtwo_Model_Observer</class>
                        <method>coreConfigChanged</method>
                    </practice_examtwo_core_observer>
                </observers>
            </admin_system_config_changed_section_advanced>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <practice_examtwo>
                    <file>examtwo.xml</file>
                </practice_examtwo>
            </updates>
        </layout>
        <routers>
            <practice_examtwo>
                <use>standard</use>
                <args>
                    <module>Practice_Examtwo</module>
                    <frontName>examtwo</frontName>
                </args>
            </practice_examtwo>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <practice_examtwo>
                                            <title>Custom Reports</title>
                                        </practice_examtwo>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
