<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Blockoverride>
            <version>1.0.0</version>
        </Ccc_Blockoverride>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_list>Ccc_Blockoverride_Block_Product_List</product_list>
                    <product_view>Ccc_Blockoverride_Block_Product_View</product_view>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <catalog>
                <rewrite>
                    <product>Ccc_Blockoverride_Model_Product</product>
                </rewrite>
            </catalog>
            <ccc_blockoverride>
                <class>Ccc_Blockoverride_Model</class>
            </ccc_blockoverride>
        </models>
    </global>
    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <Ccc_Blockoverride before="Mage_Catalog">Ccc_Blockoverride</Ccc_Blockoverride>
                    </modules>
                </args>
            </catalog>
        </routers>
        <!-- <layout>
            <updates>
                <ccc_blockoverride>
                    <file>override.xml</file>
                </ccc_blockoverride>
            </updates>
        </layout> -->
    </frontend>
    <adminhtml>
        <events>
            <admin_session_user_login_success>
                <observers>
                    <observer_override>
                        <type>singleton</type>
                        <class>ccc_blockoverride/observer</class>
                        <method>demo</method>
                    </observer_override>
                </observers>
            </admin_session_user_login_success>
        </events>
    </adminhtml>
</config>



<!-- <?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Blockoverride>
            <version>1.0.0</version>
        </Ccc_Blockoverride>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product-list>Ccc_Blockoverride_Block_Product_List</product-list>
                </rewrite>
            </catalog>
        </blocks>
    </global>
</config> -->