<config>
    <modules>
        <Xyz_Examtest>
            <version>0.1.0</version>
        </Xyz_Examtest>
    </modules>
    <!-- <frontend>
        <routers>
            <xyz_examtest>
                <use>standard</use>
                <args>
                    <module>Xyz_Examtest</module>
                    <frontName>examtest</frontName>
                </args>
            </xyz_examtest>
        </routers>
    </frontend> -->
    <global>
        <models>
            <xyz_examtest>
                <class>Xyz_Examtest_Model</class>
            </xyz_examtest>
        </models>
            <helpers>
                <xyz_examtest>
                    <class>Xyz_Examtest_Helper</class>
                </xyz_examtest>
            </helpers>
    </global>
</config>