<config>
    <modules>
        <Xyz_Examtest>
            <version>0.1.0</version>
        </Xyz_Examtest>
    </modules>
    <frontend>
        <routers>
            <xyz_examtest> <!-- Change from 'ccc_test' to 'examtest' -->
                <use>standard</use>
                <args>
                    <module>Xyz_Examtest</module>
                    <frontName>examtest</frontName>
                </args>
            </xyz_examtest>
        </routers>
    </frontend>
    <global>
        <models>
            <examtest>
                <class>Xyz_Examtest_Model</class>
            </examtest>
        </models>
            <helpers>
                <examtest>
                    <class>Xyz_Examtest_Helper</class>
                </examtest>
            </helpers>
    </global>
</config>