<?xml version="1.0"?>
<config>
	<tabs>
		<xyz_examtest translate="label">
			<label>Exam Test</label>
			<sort_order>400</sort_order>
		</xyz_examtest>
	</tabs>
	<sections>
		<examtest translate="label" module="xyz_examtest">
			<label>Exam Test</label>
			<tab>xyz_examtest</tab>
			<frontend_type>text</frontend_type>
			<sort_order>999</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<settings translate="label">
				<label>Exam Settings</label>
				<frontend_type>text</frontend_type>
				<sort_order>1</sort_order>
				<show_in_default>1</show_in_default>
				<show_in_website>1</show_in_website>
				<show_in_store>1</show_in_store>
					<fields>
						<test1_name translate="label, comment">
							<label>Test Name</label>
							<comment><![CDATA[in second]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</test1_name>
					</fields>
				</settings>
			</groups>
		</examtest>
	</sections>
</config>