<config>
    <modules>
        <Ccc_Outlook>
            <version>0.1.9</version>
        </Ccc_Outlook>
    </modules>
    <frontend>
        <routers>
            <outlook>
                <use>standard</use>
                <args>
                    <module>Ccc_Outlook</module>
                    <frontName>outlook</frontName>
                </args>
            </outlook>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Outlook before="Mage_Adminhtml">Ccc_Outlook_Adminhtml</Ccc_Outlook>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <events>
            <Configuration_2_dispatch_2>
                <observers>
                    <ccc_outlook_email_save_after>
                        <class>ccc_outlook/observer</class>
                        <method>checkConditionAfterEmailSave</method>
                        <type>singleton</type>
                    </ccc_outlook_email_save_after>
                </observers>
            </Configuration_2_dispatch_2>
        </events>
        <models>
            <ccc_outlook>
                <class>Ccc_Outlook_Model</class>
                <resourceModel>ccc_outlook_resource</resourceModel>
            </ccc_outlook>
            <ccc_outlook_resource>
                <class>Ccc_Outlook_Model_Resource</class>
                <entities>
                    <configuration>
                        <table>ccc_outlook_configuration</table>
                    </configuration>
                    <email>
                        <table>ccc_outlook_email</table>
                    </email>
                    <attachment>
                        <table>ccc_outlook_attachment</table>
                    </attachment>
                    <dispatchevent>
                        <table>ccc_outlook_dispatchevent</table>
                    </dispatchevent>
                </entities>
            </ccc_outlook_resource>
        </models>
        <resources>
            <ccc_outlook_setup>
                <setup>
                    <module>Ccc_Outlook</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ccc_outlook_setup>
        </resources>
        <blocks>
            <ccc_outlook>
                <class>Ccc_Outlook_Block</class>
            </ccc_outlook>
        </blocks>
        <helpers>
            <ccc_outlook>
                <class>Ccc_Outlook_Helper</class>
            </ccc_outlook>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <ccc_outlook>
                    <file>configuration.xml</file>
                </ccc_outlook>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <readmail>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ccc_outlook/observer::readMail</model>
                </run>
            </readmail>
        </jobs>
    </crontab>
</config>