<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Ticketsystem>
            <version>0.1.1</version>
        </Ccc_Ticketsystem>
    </modules>
    <frontend>
        <layout>
            <updates>
                <ccc_ticketsystem>
                    <file>ticketsystem.xml</file>
                </ccc_ticketsystem>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <ccc_ticketsystem>
                <class>Ccc_Ticketsystem_Block</class>
            </ccc_ticketsystem>
        </blocks>
        <models>
            <ccc_ticketsystem>
                <class>Ccc_Ticketsystem_Model</class>
                <resourceModel>ccc_ticketsystem_resource</resourceModel>
            </ccc_ticketsystem>
            <ccc_ticketsystem_resource>
                <class>Ccc_Ticketsystem_Model_Resource</class>
                <entities>
                    <ticketsystem>
                        <table>ccc_ticketsystem</table>
                    </ticketsystem>
                    <comment>
                        <table>ccc_comment</table>
                    </comment>
                    <status>
                        <table>ccc_status</table>
                    </status>
                </entities>
            </ccc_ticketsystem_resource>
        </models>
        <helpers>
            <ccc_ticketsystem>
                <class>Ccc_Ticketsystem_Helper</class>
            </ccc_ticketsystem>
        </helpers>
        <resources>
            <ticketsystem_setup>
                <setup>
                    <module>Ccc_Ticketsystem</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ticketsystem_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ccc_ticketsystem before="Mage_Adminhtml">Ccc_Ticketsystem_Adminhtml</ccc_ticketsystem>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ticketsystem>
                    <file>ticketsystem.xml</file>
                </ticketsystem>
            </updates>
        </layout>
    </adminhtml>
</config>