<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_VendorInventory>
            <version>0.1.0.0</version>
        </Ccc_VendorInventory>
    </modules>
    <global>
        <blocks>
            <vendorinventory>
                <class>Ccc_VendorInventory_Block</class>
            </vendorinventory>
        </blocks>

        <models>
            <vendorinventory>
                <class>Ccc_VendorInventory_Model</class>
                <resourceModel>vendorinventory_resource</resourceModel>
            </vendorinventory>
            <vendorinventory_resource>
                <class>Ccc_VendorInventory_Model_Resource</class>
                <entities>
                    <vendorinventory>
                        <table>brand_config</table>
                    </vendorinventory>
                    <configdata>
                        <table>brand_config_data</table>
                    </configdata>
                    <!-- <configuration>
                        <table>inventory_configuration</table>
                    </configuration>
                    <rule>
                        <table>inventory_configuration_rule</table>
                    </rule>
                    <instock_date>
                        <table>inventory_instock_date</table>
                    </instock_date> -->
                </entities>
            </vendorinventory_resource>
        </models>

        <helpers>
            <vendorinventory>
                <class>Ccc_VendorInventory_Helper</class>
            </vendorinventory>
        </helpers>
        <resources>
            <vendorinventory_setup>
                <setup>
                    <module>Ccc_VendorInventory</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vendorinventory_setup>
        </resources>
    </global>
    <crontab>
        <jobs>
            <inventory>
                <run>
                    <model>vendorinventory/observer::readcsv</model>
                </run>
            </inventory>
        </jobs>
    </crontab>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ccc_vendorinventory before="Mage_Adminhtml">Ccc_VendorInventory_Adminhtml</ccc_vendorinventory>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <vendorinventory>
                    <file>vendorinventory.xml</file>
                </vendorinventory>
            </updates>
        </layout>
    </adminhtml>
</config>