<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Locationcheck>
            <version>0.1.1</version>
        </Ccc_Locationcheck>
    </modules>
    <frontend>
        <layout>
            <updates>
                <ccc_locationcheck>
                    <file>locationcheck.xml</file>
                </ccc_locationcheck>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Locationcheck before="Mage_Adminhtml">Ccc_Locationcheck_Adminhtml</Ccc_Locationcheck>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ccc_locationcheck>
                    <file>ccc_locationcheck.xml</file>
                </ccc_locationcheck>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <events>
            <sales_order_save_before>
                <observers>
                    <locationcheck_sales_order_save_before>
                        <class>ccc_locationcheck/observer</class>
                        <method>customSalesOrderBeforeSave</method>
                    </locationcheck_sales_order_save_before>
                </observers>
            </sales_order_save_before>
            </events>
        <blocks>
            <ccc_locationcheck>
                <class>Ccc_Locationcheck_Block</class>
            </ccc_locationcheck>
        </blocks>
        <models>
            <ccc_locationcheck>
                <class>Ccc_Locationcheck_Model</class>
                <resourceModel>ccc_locationcheck_resource</resourceModel>
            </ccc_locationcheck>
            <ccc_locationcheck_resource>
                <class>Ccc_Locationcheck_Model_Resource</class>
                <entities>
                    <locationcheck>
                        <table>ccc_location_check</table>
                    </locationcheck>
                </entities>
            </ccc_locationcheck_resource>
        </models>
        <resources>
            <locationcheck_setup>
                <setup>
                    <module>Ccc_Locationcheck</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </locationcheck_setup>
        </resources>
        <helpers>
            <locationcheck>
                <class>Ccc_Locationcheck_Helper</class>
            </locationcheck>
        </helpers>
    </global>
</config>