<!-- <?xml version='1.0'?>
<config>
    <modules>
        <Practice_Customgrid>
            <version>1.0.0</version>
        </Practice_Customgrid>
    </modules>
    <global>
        <models>
            <practice_customgrid>
                <class>Practice_Customgrid_Model</class>
                <resourceModel>practice_customgrid_resource</resourceModel>
            </practice_customgrid>
            <practice_customgrid_resource>
                <class>Practice_Customgrid_Model_Resource</class>
                <entities>
                    <customgrid>
                        <table>practice_customgrid</table>
                    </customgrid>
                </entities>
            </practice_customgrid_resource>
        </models>
        <resources>
            <customgrid_setup>
                <setup>
                    <module>Practice_Customgrid</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customgrid_setup>
        </resources>
        <blocks>
            <practice_customgrid>
                <class>Practice_Customgrid_Block</class>
            </practice_customgrid>
        </blocks>
        <helpers>
            <practice_customgrid>
                <class>Practice_Customgrid_Helper</class>
            </practice_customgrid>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Practice_Customgrid before="Mage_Adminhtml">Practice_Customgrid_Adminhtml</Practice_Customgrid>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <practice_customgrid>
                    <file>customgrid.xml</file>
                </practice_customgrid>
            </updates>
        </layout>
    </adminhtml>
</config> -->
