<?xml version='1.0' ?>
<config>
    <modules>
        <Practice_Customgrid>
            <version>1.0.0</version>
        </Practice_Customgrid>
    </modules>
    <global>
        <!-- <models>
            <Customgrid>

            </Customgrid>
        </models> -->

        <models>
            <customgrid>
                <class>Practice_Customgrid_Model</class>
                <resourceModel>practice_customgrid_resource</resourceModel>
            </customgrid>
            <practice_customgrid_resource>
                <class>Practice_Customgrid_Model_Resource</class>
                <!-- <deprecatedNode>cms_mysql4</deprecatedNode> -->
                <entities>
                    <customgrid>
                        <table>practice_customgrid</table>
                    </customgrid>
                </entities>
            </practice_customgrid_resource>
        </models>
        <resources>
            <customgrid_setup>
                <setup>
                    <module>Practice_Customgrid</module>
                    <!-- <class>Mage_Core_Model_Resource_Setup</class> -->
                </setup>
                <!-- <connection>
                    <use>core_setup</use>
                </connection> -->
            </customgrid_setup>
        </resources>
        <blocks>
            <customgrid>
                <class>Practice_Customgrid_Block</class>
            </customgrid>
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <customgrid>
                    <file>customgrid.xml</file>
                </customgrid>
            </updates>
        </layout>
    </adminhtml>
        <frontend>
            <routers>
                <customgrid>
                    <use>standard</use>
                    <args>
                        <module>Practice_Customgrid</module>
                        <frontName>customgrid</frontName>
                    </args>
                </customgrid>
            </routers>
        </frontend>
  
</config>