<?xml version="1.0"?>
<config>
    <modules>
        <Practice_Jscustomgrid>
            <version>0.1.0</version>
        </Practice_Jscustomgrid>
    </modules>
    <global>
        <helpers>
            <practice_jscustomgrid>
                <class>Practice_Jscustomgrid_Helper</class>
            </practice_jscustomgrid>
        </helpers>
        <models>
            <practice_jscustomgrid>
                <class>Practice_Jscustomgrid_Model</class>
            </practice_jscustomgrid>
        </models>
        <!-- define block class -->
        <blocks>
            <practice_jscustomgrid>
                <class>Practice_Jscustomgrid_Block</class>
            </practice_jscustomgrid>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <practice_jscustomgrid before="Mage_Adminhtml">Practice_Jscustomgrid_Adminhtml</practice_jscustomgrid>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <practice_jscustomgrid>
                    <file>practice_jscustomgrid.xml</file>
                </practice_jscustomgrid>
            </updates>
        </layout>
    </adminhtml>
</config>
