<config>
    <modules>
        <Practice_Reportmanager>
            <version>0.1.1</version>
        </Practice_Reportmanager>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Practice_Reportmanager before="Mage_Adminhtml">Practice_Reportmanager_Adminhtml</Practice_Reportmanager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <events>
            <sales_order_place_after>
                <observers>
                    <update_sold_count_before_order_save>
                        <type>singleton</type>
                        <class>practice_reportmanager/observer</class>
                        <method>updateSoldCountSaveBefore</method>
                    </update_sold_count_before_order_save>
                </observers>
            </sales_order_place_after>
            <order_cancel_after>
                <observers>
                    <update_sold_count_before_order_delete>
                        <type>singleton</type>
                        <class>practice_reportmanager/observer</class>
                        <method>updateSoldCountDeleteBefore</method>
                    </update_sold_count_before_order_delete>
                </observers>
            </order_cancel_after>
        </events>
        <models>
            <practice_reportmanager>
                <class>Practice_Reportmanager_Model</class>
                <resourceModel>practice_reportmanager_resource</resourceModel>
            </practice_reportmanager>
            <practice_reportmanager_resource>
                <class>Practice_Reportmanager_Model_Resource</class>
                <entities>
                    <reportmanager>
                        <table>ccc_filter_report</table>
                    </reportmanager>
                </entities>
            </practice_reportmanager_resource>
        </models>
        <resources>
            <practice_reportmanager_setup>
                <setup>
                    <module>Practice_Reportmanager</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </practice_reportmanager_setup>
        </resources>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product>Practice_Reportmanager_Block_Adminhtml_Catalog_Product</catalog_product>
                    <catalog_product_grid>Practice_Reportmanager_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
            <practice_reportmanager>
                <class>Practice_Reportmanager_Block</class>
            </practice_reportmanager>
        </blocks>
        <helpers>
            <practice_reportmanager>
                <class>Practice_Reportmanager_Helper</class>
            </practice_reportmanager>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <practice_reportmanager>
                    <file>reportmanager.xml</file>
                </practice_reportmanager>
            </updates>
        </layout>
    </adminhtml>
</config>