<?xml version="1.0"?>
<config>
    <modules>
        <Practice_Reportmanager>
            <version>0.1.1</version>
        </Practice_Reportmanager>
    </modules>
    <global>
        <events>
            <sales_order_place_before>
                <observers>
                    <repoer_sales_order_save_before_observer>
                        <class>practice_reportmanager/observer</class>
                        <method>customSalesOrderBeforeSave</method>
                    </repoer_sales_order_save_before_observer>
                </observers>
            </sales_order_place_before>
            <sales_order_delete_before>
                <observers>
                    <repoer_sales_order_save_delete_observer>
                        <class>practice_reportmanager/observer</class>
                        <method>customSalesOrderBeforeDelete</method>
                    </repoer_sales_order_save_delete_observer>
                </observers>
            </sales_order_delete_before>
            </events>
        <models>
            <practice_reportmanager>
                <class>Practice_Reportmanager_Model</class>
                <resourceModel>practice_reportmanager_resource</resourceModel>
            </practice_reportmanager>
            <practice_reportmanager_resource>
                <class>Practice_Reportmanager_Model_Resource</class>
                <entities>
                    <reportmanager>
                        <table>ccc_filter_report</table>
                    </reportmanager>
                </entities>
            </practice_reportmanager_resource>
        </models>
        <resources>
            <practice_reportmanager_setup>
                <setup>
                    <module>Practice_Reportmanager</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </practice_reportmanager_setup>
        </resources>
    </global>
</config>